# Bike Sharing
共享单车数据探索分析，数据来源[kaggle共享单车](https://www.kaggle.com/c/bike-sharing-demand/data)。分析哪些特征对用户租用单车影响比较大，对用户是否租用单车做出预测

## 数据准备

- 导入必要的包

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
% matplotlib inline

- 分析数据

In [2]:
data = pd.read_csv('train.csv')
data.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

**数据描述(参考kaggle Data Fields描述)**：    
日期时间 datetime：	小时 + 时间戳  
季节 season：	1 = 春季、2 = 夏季、3 = 秋季、4 = 冬季  
假期 holiday：	该天是否为假日  
工作日 workingday：	该天是否既不是周末，也不是假日  
天气 weather：	1、晴朗少云 2、薄雾多云 3、小雪、小雨 4大雨 + 冰粒 + 雷雨 + 薄雾、雪 + 大雾  
温度 temp：	摄氏度温度  
环境温度 atemp：	"感觉"温度（摄氏度）  
湿度 humidity：	相对湿度  
风速 windspeed：	风速  
游客 casual：	非注册用户所发起租赁的数量  
会员 registered：	注册用户所发起租赁的数量  
总计 count：	总租赁数量

In [5]:
data.describe()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
count,10886.000000,10886.000000,10886.000000,10886.000000,10886.00000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000
mean,2.506614,0.028569,0.680875,1.418427,20.23086,23.655084,61.886460,12.799395,36.021955,155.552177,191.574132
std,1.116174,0.166599,0.466159,0.633839,7.79159,8.474601,19.245033,8.164537,49.960477,151.039033,181.144454
min,1.000000,0.000000,0.000000,1.000000,0.82000,0.760000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,0.000000,1.000000,13.94000,16.665000,47.000000,7.001500,4.000000,36.000000,42.000000
50%,3.000000,0.000000,1.000000,1.000000,20.50000,24.240000,62.000000,12.998000,17.000000,118.000000,145.000000
75%,4.000000,0.000000,1.000000,2.000000,26.24000,31.060000,77.000000,16.997900,49.000000,222.000000,284.000000
max,4.000000,1.000000,1.000000,4.000000,41.00000,45.455000,100.000000,56.996900,367.000000,886.000000,977.000000

**问题思考**  
1. 哪些特征对用户使用单车影响很大  
2. 数据分布有没有异常，比如温度

- 数据类型

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
datetime      10886 non-null object
season        10886 non-null int64
holiday       10886 non-null int64
workingday    10886 non-null int64
weather       10886 non-null int64
temp          10886 non-null float64
atemp         10886 non-null float64
humidity      10886 non-null int64
windspeed     10886 non-null float64
casual        10886 non-null int64
registered    10886 non-null int64
count         10886 non-null int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.6+ KB

In [8]:
data.duplicated().sum()

0

**分析**：没有缺失值，没有重复值，datatime为str类型，可以转换